.body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: normal;

}
.h1 {
    font-size: large;
    font-weight: bold;

}
.p {
    font-size: medium;
    font-weight: normal;

}